<%= render 'shared/error_messages', object: f.object %>
<div class="form-inputs">
      <%= f.input :name%>
      <%= f.input :email%>
      <%= f.input :password%>
      <%= f.input :password_confirmation%>
</div>