    <div class="form-inputs">
      <%= ad.input :cep %>
      <%= ad.input :street %>
      <%= ad.input :number %>
      <%= ad.input :district %>
      <%= ad.input :city %>
      <%= ad.input :state %>
    </div>
    <%= ad.submit "Cadastrar", class: "btn btn-primary" %>
    <% if @address %>
      <%= link_to "Go Back", contact_path(@contact["id"]), class: 'btn btn-secondary' %>
    <% end %>
<%= javascript_pack_tag 'formScript' %>
