<tr>
  <th scope="row"><%= contact.full_name%></th>
  <td>
    <%= contact.cpf %>
  </td>
  <td>
    <%= contact.email %>
  </td>
  <td>
    <%= date_helper(contact.birth_date) %>
  </td>
  <td>
    <%= edit_contact_link(current_user, contact)%>
  </td>
  <td>
    <%= delete_contact_link(current_user, contact)%>
  </td>
  <td>
    <%=  mais_info_link(contact) %>
  </td>
</tr>