<div class="row m-3">
  <aside class="col-md-3">
    <section class="user_info p-2">
      <article>
          <div>
            <%# <%= gravatar_for @contact.user %>
          </div>
          <h1>
            <%= @contact.full_name %>
          </h1>
      </article>
    </section>
    <article class="current_user_events p-2">
      <h5> <%= @contact.email %> </h5>
    </article>
    </aside>
    <article class="event-form col-md-3 mt-4">
    <h4><%= @address.city %></h4>
  </article>
  <article class="event-form col-md-3 mt-4">
    <h4><%= @address.street %></h4>
  </article>
</div>

<h3> Endereço </h3>

<table class="table">
  <thead>
    <tr>
      <th>CEP</th>
      <th>Rua</th>
      <th>Número</th>
      <th>Cidade</th>
      <th>Estado</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td><%= @address.cep %></td>
        <td><%= @address.street %></td>
        <td><%= @address.number %></td>
        <td><%= @address.city %></td>
        <td><%= @address.state %></td>
      </tr>
  </tbody>
</table>
<%= link_to "Go Back", root_path, class: 'btn btn-secondary' %>
<%= new_contact_link %>
