<nav class="sticky-top navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <%= link_to 'Agenda', root_path, class: 'navbar-brand' %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to 'Meus contatos', root_path, class: 'nav-link' if user_signed_in? %>
        </li>&nbsp;&nbsp;
        <%= render 'layouts/dropdown' if user_signed_in? %>
        <%= render 'layouts/mainlinks' unless user_signed_in? %>
      </ul>
      <%= form_tag root_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :search, params[:search], placeholder: 'Pesquisar...', class: "form-control me-2" %>
      <%= submit_tag "Pesquisar", class: "btn btn-outline-secondary" %>
      <% end %>
    </div>
  </div>
</nav>